* {
    margin: 0;
}

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

header {
    /* Config do background e posição */
    background: linear-gradient(to right, rgb(0, 0, 87), rgb(0, 113, 151));
    background-size: cover;
    display: flex;
    flex-direction: column;
    background-size: cover;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100px;
    /* Config do background e posição */

    h2 {
        color: rgb(255, 255, 255);
        font-family: sans-serif;
        font-size: 25px;
        margin-top: 10px;
    }

    h1 {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: rgb(255, 208, 0);
        margin-top: -10px;
        font-size: 50px;
    }
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    color: white;
    font-size: 34px;
    margin-top: 40px;
}

.kaua {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
}

.thiago {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    margin: 0 20px;
}


.fotos {
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    transition: 0.3s ease;
}

.fotos:hover {
    transform: scale(1.1);

}